<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702490049261-79jtj8rphgr8dg7tfs91u1ppojmv0ion.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702490049261-79jtj8rphgr8dg7tfs91u1ppojmv0ion</string>
	<key>API_KEY</key>
	<string>AIzaSyCIP1Hx_i-wGQu4rgW-C1oDl6ou-rLSc8M</string>
	<key>GCM_SENDER_ID</key>
	<string>702490049261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnnaCardon.NatureFinder</string>
	<key>PROJECT_ID</key>
	<string>naturefinder-d0911</string>
	<key>STORAGE_BUCKET</key>
	<string>naturefinder-d0911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702490049261:ios:19a589943f39a47995eae4</string>
</dict>
</plist>